.header img {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
header {
  width: 100%;
  background-color: black;
  color: aliceblue;
  display: flex;
  justify-content: center;
}
header a {
  color: wheat;
  margin: auto;
  display: flex;
  justify-content: center;
}
body {
  background-color: black;
  color: red;
}
