.app {
  width: 100vw;
}
.home {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.home_nav {
  height: 12rem;
  width: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.display_nav {
  display: flex;
  margin-top: 5rem;
  color: white;
  margin: 5rem;
  text-decoration: none;
  font-size: 3rem;
  justify-content: space-evenly;
}
.display {
  height: 22rem;
  width: 38rem;
  background-color: white;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  margin-bottom: 20rem;

  margin-left: 20rem;
  margin-right: 20rem;
  margin-top: 30rem;
}
.header img {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
header {
  width: 100%;
  background-color: black;
  color: aliceblue;
}

header a :hover {
  color: yellow;
}
body {
  background-color: black;
  color: red;
}

h2 {
  font-size: 20px;
}

.picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  height: 24rem;
  margin: 1rem auto;
  border: #2d2d2e solid 2px;
}
.image {
  border: red solid 2px;
  border-radius: 10px;
  width: 18rem;
  height: 20rem;
}
.image hover {
  cursor: pointer;
}

.carroussel {
  overflow-x: scroll;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 5px;
  justify-content: center;
}
section {
  margin: auto;
}
.carroussel::-webkit-scrollbar {
  display: none;
}
.loading {
  color: red;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem;
}
